.navigation {
    background-color: #ef6c00 ;
}

.brand-logo{
    margin-left: 25px;
}

#slide-out {
    top: 64px;
}

 .button-collapse {
    color: #546e7a;
}

.side-layout {
    height: 300px;
    background-color: #90a4ae;

}

.status-message {
    margin-bottom: 5px !important;

     .input-field .prefix.active {
        color: #546e7a !important;
    }

     .btn {
        color: #ffab40;
        background: #546e7a;
        float: right;
        width: 100px;

        &:hover, &:focus {
            background: #5e7580;
        }
        
    }
}


.status-action {
    & a {
        text-transform:none !important;
        cursor: pointer;
    }

    & i{
        padding: 0 5px;
    }

    & .badge {
        color: #fbfafa;
        margin: 0;
        vertical-align: super;
        float: none;
    }
}


.load-more {
    text-align: center;
    cursor: pointer;
}