<head>
    <title><%= title %></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/custom.css' />
    <link rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
          
    <script src="/bower_components/angular/angular.min.js"></script>
    <script>
        if (!window.jQuery) { document.write('<script src="/bower_components/jquery/dist/jquery.min.js"><\/script>'); }
    </script>
    <script src="/bower_components/materialize/dist/js/materialize.js"></script>
    <script src="/webapp/posts.js"></script>
</head>